:root {
    --color_green:#006634;
    --color_success:#00DC1D;
    --color_warning:#FEB100;
    --color_danger:#DC0000;
    --color_sky:#6666FF;
    --color_darkgrey:#4E5A62;
    --color_lightgrey:#CCCCCC;
    --color_lightgrey2:#ececec;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

body {
    width: 100%;
    height: 100dvh;
    font-family: "Poppins", sans-serif;
}

html {
    scroll-behavior: smooth;
}

a {
    color: white;
}

img {
    width: 100%;
}

p {
    line-height: 1.5;
}

h1 {
    font-size: 2.6rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.6rem;
}

h4 {
    font-size: 1.3rem;
}


.btn{
    width: 8rem;
    padding: 16px 0;
    text-align: center;
    border: 1px solid var(--color_danger);
    color: var(--color_danger);
    position: relative;
    transition: all 400ms ease;
}

.btn::before{
    content: "Get Started";
    width: 100%;
    height: 100%;
    background: var(--color_danger);
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 400ms ease;
    transform-origin: 0 0;
    transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
    transform: scaleX(100%);
    line-height: 53px;
}
.btn:hover::before{
    transform: scaleX(0);
}

.btn1::before{
    content: "View More";
}

.btn2{
    background: white;
    color: black;
    padding: 18px 25px;
    border: 1px solid transparent;
    transition: all 400ms ease;
}
.btn2:hover{
    background: transparent;
    color: white;
    border: 1px solid white;
}


.nav__container {
    background: rgba(78, 90, 98, 0.7);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    width: 100%;
    height: 4.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 6rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
}

.nav__logo {
    width: 10rem;
    display: flex;
}

.main-nav__links {
    display: flex;
    gap: 1.5rem;
    position: relative;
}

.main-nav__links > li a{
    color: white;
    padding: 0.05rem 0.6rem;
    font-size: 0.8rem;
    background: var(--color_danger);
    border: 1px solid transparent;
    transition: all 400ms ease;
}

.main-nav__links > li a:hover{
    background: transparent;
    border: 1px solid white;
}

.main-nav__links > li:nth-child(2) a{
    background: var(--color_warning);
}
.main-nav__links > li:nth-child(2) a:hover{
    background: transparent;
}

.main-nav__links > li:nth-child(3) a{
    background: var(--color_success);
}
.main-nav__links > li:nth-child(3) a:hover{
    background: transparent;
}

.main-nav__links > li:last-child a{
    background: var(--color_sky);
}
.main-nav__links > li:last-child a:hover{
    background: transparent;
}

.sub-nav__links {
    position: absolute;
    right: -20rem;
    top: 3.3rem;
    display: flex;
    flex-direction: column;
    background: white;
    opacity: 0;
    overflow: hidden;
    box-shadow:0 0 18px rgba(0,0,0,0.6);
    transition: all 400ms ease;
}

.active_sub-nav {
    right: 0;
    opacity: 1;
}

.nav__links .sub-nav__links li a {
    background: transparent;
    color: #4E5A62;
    display: inline-flex;
    gap: 0.5rem;
    width: 100%;
    padding: 0.5rem 1.2rem;
    border-bottom: 1px solid var(--color_lightgrey);
}

.nav__links .sub-nav__links li a:hover{
    border: 1px solid transparent;
    background: var(--color_lightgrey);
    color: #fff;
}

.link__icon {
    display: flex;
    font-size: 1.2rem;
    color: var(--color_sky);
}

.nav__links .sub-nav__links li a:hover .link__icon{
    color: #fff;
}

.small__nav {
    display: none;
}

.nav__container .navButton{
    display: none;
}









.body__container {
    margin-top: 4.5rem;
    min-height: calc(100dvh - 4.5rem);
}

.container {
    min-height: 100dvh;
    padding: 4rem 6rem;
}






footer {
    background: var(--color_darkgrey);
    color: white;
}

.main__footer {
    display: flex;
    justify-content: space-between;
    padding-inline: 6rem;
    margin-bottom: 2rem;
}

.footer__links {
    padding-top: 1.25rem;
    text-align: center;
}

.footer__nav {
    margin-top: 1rem;
    
}

.main-footer__nav {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.main-footer__nav a:hover {
    text-decoration: underline;
}

.footer__location {
    width: 34.5rem;
    overflow: hidden;
}

.footer__address {
    background: var(--color_warning);
    text-align: center;
    padding: 0.75rem 1rem;
}

.footer__address p {
    margin-top: 0.6rem;
    font-size: 0.875rem;
}

.footer__contacts {
    background: var(--color_sky);
    text-align: center;
    width: 16rem;
    height: 24rem;
    border-radius: 0 0 12px 12px ;
    overflow: hidden;
}

.footer__contacts h4 {
    background: var(--color_danger);
    padding: 0.75rem 0;
}

.footer__socials {
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}

.footer__socials a {
    border-bottom: 1px solid white;
    padding: 2rem 0;
    font-size: 1.875rem; 
}

.footer__socials a:first-child,
.footer__socials a:nth-child(3) {
    border-right: 1px solid white;
}

.footer__numbers {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 1rem;
    padding: 1rem 0;

}

.sub__footer {
    border-top: 1px solid var(--color_lightgrey2);
    color: var(--color_success);
    text-align: center;
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.painless-logo {
    width: 17rem;
    transition: transform 400ms ease;
}

.painless-logo a {
    color: rgba(255, 255, 255, 0.7);
    font-size: 0.875rem;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.painless-logo:hover {
    transform: translateX(5px);
}





@media screen and (max-width: 64rem) {
    h1 {
        font-size: 2.2rem;
    }

    h2 {
        font-size: 1.7rem;
    }

    h3 {
        font-size: 1.4rem;
    }

    h4 {
        font-size: 1.2rem;
    }

    .nav__container {
        padding-inline: 4rem;
    }

    .main-nav__links {
        gap: 1.5rem;
    }

    .container {
        padding: 4rem;
    }

    .main__footer {
        gap: 2rem;
        padding: 0 5rem;
    }

    .footer__location {
        width: 30rem;
    }

    .footer__contacts {
        width: 12rem;
        height: 18rem;
    }

    .footer__socials a {
        padding: 1rem;
        font-size: 1.5rem; 
    }

    .sub__footer p {
        font-size: 0.875rem;
    }

    .sub__footer img{
        width: 18rem;
    }
}






@media screen and (max-width: 37.5rem) {
    h1 {
        font-size: 1.8rem;
    }
    
    .nav__container {
        padding: 0 1rem;
    }

    .nav__logo {
        width: 8rem;
    }
    
    .main-nav__links {
        display: none;
    }

    .small__nav {
        display: block;
        position: fixed;
        right: -12rem;
        top: 4.5rem;
        background: rgba(78, 90, 98, 0.7);
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
        width: 12rem;
        height: 100vh;
        padding: 1rem 0.5rem;
        overflow: hidden;
        transition: all 400ms ease;
    }

    .active_small__nav {
        right: 0;
    }

    .main-small__nav {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    .main-small__nav a {
        display: flex;
        align-items: center;
        gap: 0.7rem;
        padding: 0.5rem 1rem;
        border-radius: 0.7rem;
        width: 100%;
        transition: all 400ms ease;
    }

    .main-small__nav a:hover {
        transform: translateX(10px);
        background: rgba(0,0,0,0.6);
    }

    .main-small__nav a i{
        font-size: 1.3rem;
        display: flex;
    }

    .sub-small__nav {
        position: absolute;
        left: -10rem;
        background: white;
        display: flex;
        flex-direction: column;
        opacity: 0;
        overflow: hidden;
        margin-top: 1rem;
        /* box-shadow:0 0 18px rgba(0,0,0,0.4); */
        box-shadow: 3px 3px 8px rgb(0,0,0,0.6);
        transition: all 400ms ease;
    }

    .active-small__nav {
        left: 0;
        opacity: 1;
    }

    .sub-small__nav a {
        background: transparent;
        color: #4E5A62;
        display: inline-flex;
        gap: 0.5rem;
        width: 100%;
        padding: 0.5rem 0.85rem;
        font-size: 0.875rem;
        border-bottom: 1px solid var(--color_lightgrey);
    }

    

    .nav__container .navButton {
        background: transparent;
        border: none;
        outline: none;
        color: white;
        font-size: 1.3rem;
        cursor: pointer;
    }

    .nav__container .navButton {
        display: flex;
    }



    .overlay {
        background: rgba(0,0,0,0);
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all 400ms ease;
    }

    .active-overlay {
        background: rgba(0,0,0,0.9);
        z-index: 9998;
    }






    .container {
        padding: 2rem 1rem;
    }








    .main__footer {
        flex-direction: column;
        align-items: center;
        padding-inline: 1rem;
    }

    .footer__location {
        width: 100%;
    }

    .sub__footer {
        flex-direction: column;
    }

    .sub__footer p {
        font-size: 0.8rem;
    }

    .sub__footer img {
        width: 14rem;
    }

    .painless-logo {
        width: fit-content;
        margin-inline: auto;
    }

    .painless-logo a {
        flex-direction: row;
        gap: 0.5rem;
    }

    .painless-logo img {
        width: 12rem;
    }
}