.result__container {
    border: 4px solid var(--color_green);
    padding: 0.6rem;
    /* min-height: 70.17rem; */
    display: flex;
    flex-direction: column;
}

.result__header {
    border-bottom: 1px solid grey;
}

.result__header h4 {
    background: var(--color_green);
    padding: 0.05rem 1rem;
    width: fit-content;
    margin-inline: auto;
    color: white;
    margin-top: 1rem;
    text-transform: uppercase;
    word-spacing: 0.1rem;
    letter-spacing: 0.3rem;
}

.result__header p {
    width: fit-content;
    margin: 0.4rem auto;
}

.result__student-info {
    margin: 0.5rem 0;
    display: flex;
    justify-content: space-between;
}

.result__student-info div {
    font-size: 1.2rem;
    font-weight: 700;
}

.result__student-info span {
    color: gray;
}

.result__body table,
.result__body th,
.result__body td {
    border: 1px solid black;
    border-collapse: collapse;
}

.result__body table {
    width: 100%;
    text-align: center;
}

.result__body th {
    background: var(--color_green);
    color: white;
    padding: 0.4rem 0;
}

.result__body th:not(:last-child) {
    border-right:1px solid white ;
}

.result__body td {
    padding: 0.4rem 0;
}

.result__body tbody td:first-child{
    text-align: left;
    padding-left: 1rem;
}

.result__conclusion {
    margin-top: 0.8rem;
    margin-top: auto;
}

.result__percentage {
    border: 1px solid grey;
    display: flex;
    justify-content: space-between;
}

.result__percentage div:not(:last-child) {
    border-right: 1px solid grey;
}

.result__percentage div {
    width: 100%;
    padding-left: 1rem;
    font-size: 1.2rem;
    font-weight: 700;
}

.result__percentage span {
    color: gray;
}

.result__base {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

.result__comments {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.result__comments div {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid gray;
}

.result__comments div span:first-child{
    color: gray;
}

.grading-system {
    text-align: center;
}

.grading-system__head {
    background: var(--color_green);
    color: white;
    padding: 0.1rem 0;
    font-size: 1.2rem;
    font-weight: 700;
}

.grading-system table,
.grading-system th,
.grading-system td {
    border: 1px solid gray;
    border-collapse: collapse;
    font-size: 0.8rem;
}

.grading-system th,
.grading-system td {
    padding: 0.2rem 1rem;
}

.result__motto {
    width: fit-content;
    margin-inline: auto;
    word-spacing: 0.4rem;
    letter-spacing: 0.4rem;
    color: var(--color_success);
    margin-top: 0.7rem;
}



















.download-btn {
    width: fit-content; 
    padding: 0.75rem; 
    margin: 2rem auto 0;
    background-color: var(--color_success); 
    color: #fff; 
    font-size: 0.9rem; 
    font-weight: 600; 
    border: none; 
    border-radius: 0.375rem; 
    display: flex;
    gap: 0.8rem;
    cursor: pointer; 
    transition: all 400ms ease;
}

.download-btn:hover {
    background: #068146;
}










/* .result__container{border: 4px solid var(--color_green);padding: 0.6rem;min-height: 70.17rem;display: flex;flex-direction: column;}
.result__header{border-bottom: 1px solid grey;}
.result__header h4{background: var(--color_green);padding: 0.05rem 1rem;width: fit-content;margin-inline: auto;color: white;margin-top: 1rem;text-transform: uppercase;word-spacing: 0.1rem;letter-spacing: 0.3rem;}
.result__header p{width: fit-content;margin: 0.4rem auto;}
.result__student-info{margin: 0.5rem 0;display: flex;justify-content: space-between;}
.result__student-info div{font-size: 1.2rem;font-weight: 700;}
.result__student-info span{color: gray;}
.result__body table,.result__body th,.result__body td{border: 1px solid black;border-collapse: collapse;}
.result__body table{width: 100%;text-align: center;}
.result__body th{background: var(--color_green);color: white;padding: 0.4rem 0;}
.result__body th:not(:last-child){border-right:1px solid white ;}
.result__body td{padding: 0.4rem 0;}
.result__body tbody td:first-child{text-align: left;padding-left: 1rem;}
.result__conclusion{margin-top: 0.8rem;margin-top: auto;}
.result__percentage{border: 1px solid grey;display: flex;justify-content: space-between;}
.result__percentage div:not(:last-child){border-right: 1px solid grey;}
.result__percentage div{width: 100%;padding-left: 1rem;font-size: 1.2rem;font-weight: 700;}
.result__percentage span{color: gray;}
.result__base {display: flex;justify-content: space-between;margin-top: 1rem;}
.result__comments{display: flex;flex-direction: column;gap: 1rem;}
.result__comments div{display: flex;flex-direction: column;border-bottom: 1px solid gray;}
.result__comments div span:first-child{color: gray;}
.grading-system{text-align: center;}
.grading-system__head {background: var(--color_green);color: white;padding: 0.1rem 0;font-size: 1.2rem;font-weight: 700;}
.grading-system table,.grading-system th,.grading-system td{border: 1px solid gray;border-collapse: collapse;font-size: 0.8rem;}
.grading-system th,.grading-system td{padding: 0.2rem 1rem;}
.result__motto{width: fit-content;margin-inline: auto;word-spacing: 0.4rem;letter-spacing: 0.4rem;color: var(--color_success);margin-top: 0.7rem;}
.download-btn {width: fit-content;padding: 0.75rem;margin: 2rem auto 0;background-color: var(--color_success);color: #fff;font-size: 0.9rem;font-weight: 600;border: none;border-radius: 0.375rem;display: flex;gap: 0.8rem;cursor: pointer;transition: all 400ms ease;}
.download-btn:hover {background: #068146;} */